<div class="header">
    <div class="header-left active">
      <a href="index.html" class="logo logo-normal">
        <img src="/assets/img/logo.svg" alt="Logo">
        <img src="/assets/img/white-logo.svg" class="white-logo" alt="Logo">
      </a>
      <a href="index-2.html" class="logo-small">
        <img src="/assets/img/logo-small.svg" alt="Logo"></a>
        <a id="toggle_btn" href="javascript:void(0);"><i class="ti ti-arrow-bar-to-left"></i></a>
      </div>
      <a id="mobile_btn" class="mobile_btn" href="#sidebar"><span class="bar-icon"><span></span><span></span><span></span></span></a>
    <div class="header-user">
      <ul class="nav user-menu">
        <li class="nav-item nav-search-inputs me-auto"></li>
        
          <div class="dropdown-menu dropdown-menu-end notification-dropdown">
            
          </div>
        </li>
        <li class="nav-item dropdown has-arrow main-drop">
          <a href="javascript:void(0);" class="nav-link userset" data-bs-toggle="dropdown"><span class="user-info">
            <span class="user-letter"><img src="/assets/img/profiles/avatar-20.jpg" alt="Profile"></span>
            <span class="badge badge-success rounded-pill"></span></span>
          </a>
          <div class="dropdown-menu menu-drop-user">
            <div class="profilename">
              <a class="dropdown-item" href="/logout"><i class="ti ti-lock"></i>Logout</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>