 <div class="sidebar" id="sidebar">      
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu"> 
      <ul>
        <li>
          <ul>
            <li><a href="/dashboard"><i class="ti ti-layout-2"></i><span>Dashboard</span></a></li>
            <li><a href="/facility-master"><i class="ti ti-brand-databricks"></i><span>Facility Master</span></a></li>
            <li class="submenu">
              <a href="javascript:void(0);"><i class="ti ti-steam"></i><span>Supplier</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/add-supplier">Add Supplier</a></li>
                <li><a href="/supplier-data">Supplier Data</a></li>
              </ul>
            </li>
            <li class="submenu"><a href="javascript:void(0);"><i class="ti ti-file-invoice"></i><span>ASN</span><span class="menu-arrow"></span></a>
              <ul>
                <li><a href="/add-asn">Add ASN</a></li>
                <li><a href="/asn-data">ASN Data</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>