<div class="main-wrapper">
  <div class="account-content">
    <div class="d-flex flex-wrap w-100 vh-100 overflow-hidden">
      <div class="d-flex align-items-center justify-content-center flex-fill flex-wrap vh-100 overflow-auto">
        <div class="login-shapes">
          <div class="login-right-shape"><img src="assets/img/authentication/shape-01.png" alt="Shape"></div>
          <div class="login-left-shape"><img src="assets/img/authentication/shape-02.png" alt="Shape"></div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="login-content user-login">
                <div class="text-center mb-4"><img src="assets/img/logo.svg" class="img-fluid" alt="Logo"></div>
                <!--<form action="index.html">-->
				  <form id="loginForm" class="flex-fill">
                  <div class="card border p-sm-3">
                    <div class="card-body p-4">
                      <div class="text-center">
                        <p class="text-default mb-3">Welcome back!</p>
                        <div class="mb-3"><span class="avatar avatar-xxxl rounded-circle mb-4"><img src="assets/img/profiles/avatar-14.jpg" class="img-fluid rounded-circle" alt="Profile"></span>
                          <h5 class="fs-18 fw-semibold">Admin</h5>
                        </div>
                      </div>
						 <div class="mb-3">
                            <label class="col-form-label">Email Address</label>
                            <div class="position-relative">
                                <span class="input-icon-addon">
                                    <i class="ti ti-mail"></i>
                                </span>
                                <input type="text" value="" class="form-control" name="email" autocomplete="true">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Password</label>
                            <div class="pass-group">
                                <input type="password" class="pass-input form-control" name="password" autocomplete="true">
                                <span class="ti toggle-password ti-eye-off"></span>
                            </div>
                        </div>
                        <div class="mb-3 mt-4">
                            <button type="submit" class="btn btn-primary w-100">Log In</button>
                        </div>
                        <!--<div class="mb-3">
                            <h6>New on our platform?&nbsp;<a href="/register" class="text-purple link-hover">Create an account</a></h6>
                        </div>-->
                    </div>
                  </div>
                </form>
              </div>
              <div class="text-center">
                <p class="fw-medium text-gray">Copyright &copy; 2025 - Traceability <br>Powered by <a target="_blank" href="powered by www.indochineintl.com">www.indochineintl.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('pageMeta') %>
<!-- Meta Tags -->

<!-- Title -->
<title><%= title %></title>

<%- contentFor('topStyles') %>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<!-- Tabler Icon CSS -->
<link rel="stylesheet" href="/assets/plugins/tabler-icons/tabler-icons.css">

<!-- Fontawesome CSS -->
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

<!-- Main CSS -->
<link rel="stylesheet" href="/assets/css/style.css">

<%- contentFor('bottomScript') %>

<!-- jQuery -->
<script src="/assets/js/jquery-3.7.1.min.js" type="text/javascript"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<!-- Feather Icon JS -->
<script src="/assets/js/feather.min.js" type="text/javascript"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="assets/plugins/toastr/toastr.min.js" type="c4b7c81049a80b444a8207d5-text/javascript"></script>
<script src="assets/plugins/toastr/toastr.js" type="c4b7c81049a80b444a8207d5-text/javascript"></script>


<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="/assets/plugins/sweetalert/sweetalerts.min.js"></script> 
<script src="/assets/js/script.js" type="text/javascript"></script>

<!-- Login JS -->
<script src="/assets/js/login.js" type="text/javascript"></script>